{% extends 'base.html.twig' %}
{% block body %}

    <main role="main" class="content">

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                
            </div>

            <hr>

        </div> 

    </main>

{% endblock %}
