{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-md-8">
            {{ include('note/_item-list.html.twig', { 'notes': notes }) }}
        </div>
        <div class="col-md-4">
             
        </div>    
    </div>
{% endblock %}
