<nav class="navbar navbar-expand-md navbar-dark bg-dark" style="margin-bottom: 20px;">
    <a class="navbar-brand" href="{{ path('home-index') }}">Todo</a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Carpeta default</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('user-index') }}">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carpetas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nuevo item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('folder-new') }}">Nueva carpeta</a>
            </li>
        </ul>

    </div>
</nav>
