{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% include 'folder/form.html.twig' %}
        <div class="row">
            {% for folder in folders %}
                <ul>
                    <li>
                        {{ folder.name }} <a href="{{ path('folder-edit', {'slug': folder.slug}) }}">Editar</a> 
                    </li>
                </ul>
            {% endfor %}
        </div>
        <hr>
    </div> 
{% endblock %}
