<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.body }}</p>
    <a href="{{ path('note-view', {'slug': item.slug}) }}" class="btn btn-primary">Ver nota</a>
  </div>
</div>   