{% extends 'base.html.twig' %}
{% block body %}
        <div class="container">
            <a href="{{ path('user-new') }}">Nuevo usuario</a>
            <div class="row">
                {% for user in users %}
                    {{ include('user/user-list.html.twig', { 'users': users }) }}
                {% endfor %}
            </div>
        </div>
{% endblock %}
